[program:init-cloudsql]
command={{ pyenv_virtualenv_path }}/bin/python {{ app_path }}/bookshelf/model_cloudsql.py
directory={{ app_path }}
autostart=true
autorestart=false
startsecs=0
stderr_logfile=/var/log/init_cloudsql.err.log
stdout_logfile=/var/log/init_cloudsql.out.log
environment=HOME="{{ ansible_env.HOME }}",PYENV_ROOT="{{ pyenv_root }}",PATH="{{ pyenv_root }}/bin:{{ pyenv_virtualenv_path }}/bin:/usr/bin:/bin",GAE_INSTANCE=true,PYTHONUNBUFFERED=1

[program:bookshelf]
command={{ pyenv_virtualenv_path }}/bin/python {{ app_path }}/main.py
directory={{ app_path }}
autostart=true
autorestart=true
stderr_logfile=/var/log/bookshelf.err.log
stdout_logfile=/var/log/bookshelf.out.log
environment=HOME="{{ ansible_env.HOME }}",PYENV_ROOT="{{ pyenv_root }}",PATH="{{ pyenv_root }}/bin:{{ pyenv_virtualenv_path }}/bin:/usr/bin:/bin",GAE_INSTANCE=true,PYTHONUNBUFFERED=1
