CLOUDSQL_CONNECTION_NAME = "{{ cloudsql_connection_name }}"
CLOUDSQL_USER = "{{ db_user }}"
CLOUDSQL_PASSWORD = "{{ db_password }}"
CLOUDSQL_DATABASE = "{{ db_name }}"
DATA_BACKEND = "{{ data_backend }}"
PROJECT_ID = "{{ project_id }}"
CLOUD_STORAGE_BUCKET = "{{ storage_bucket }}"
GOOGLE_OAUTH2_CLIENT_ID = "{{ client_id }}"
GOOGLE_OAUTH2_CLIENT_SECRET = "{{ client_secret }}"

